<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DnD Dodouce - ${title}</title>
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/w3.css" rel="stylesheet" />
    <link rel="stylesheet" href="../js/components/page-header.css">
</head>
<body>

<page-header base-url=".."></page-header>
<race-display></race-display>

<script src="../js/components/page-header.js" type="text/javascript"></script>
<script src="../js/components/race-display.js" type="text/javascript"></script>
<script type="text/javascript">
    let raceDisplay = document.querySelector('race-display');
    raceDisplay.setData(${source}, ${content});
</script>
</body>
</html>