{
	"name": {
		"en": "Dwarves",
        "fr": ""
	},
	"lore": {
		"en": [
			{ "title": "Personality", "content": "Dwarves are slow to laugh or jest and suspicious of strangers, but they are generous to those few who earn their trust. Dwarves value gold, gems, jewelry, and art objects made with these precious materials, and they have been known to succumb to greed. They fight neither recklessly nor timidly, but with careful courage and tenacity. Their sense of justice is strong, but at its worst it can turn into a thirst for vengeance. Among gnomes, who get along famously with dwarves, a mild oath is “If I’m lying, may I cross a dwarf.”" },
		],
		"fr": [
		]
	},
	"racial-features": {
		"en" : [
			{ "content": "+2 Constitution, –2 Charisma: Dwarves are stout and tough but tend to be gruff and reserved."},
		],
		"fr": [
        ]
	}
}
